*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
   
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 120px;
    height: auto;
}
.logo img:hover{
    background-color: rgb(255, 145, 0);
    color: #fff;

}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    display: flex;
    
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    background-color: rgb(82, 81, 80);
    color: #fff;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    background-color: rgb(82, 81, 80);
    color: #fff;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 25% 10%;
}
.main-home{
   
    width: 100%;
    height: 100vh;
    background-image: url(Photo\ Collage\ Maker_2023_12_27_03_21_47.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-text h5{
    color: #ffffff;
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 500;
    text-transform: capitalize;
}
.main-text h1{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    line-height:1.1 ;
    font-weight: 600;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #000000;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: rgb(82, 81, 80);
    color: #fff;
    border: 2px;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}

.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: rgb(255, 145, 0);
    color: #fff;
    transition: all .42s ease;
    border: 1px;


}
header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
/* trending-section-css */
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -200px;
}
.center-text span{
    color: #EE1C47;
}
.photos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .42s;
    background-color: #565656;
}
.row2{
    position: relative;
    transition: all .42s;
}
.row2 img{
    width: 100%;
    height: auto;
    transition: all .42s;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .42s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: #EE1C47;
}
.rating i{
    color: rgb(255, 174, 0);
    font-size: 18px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    
}
.price P{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}
.More_info{
    background-color: rgb(82, 81, 80);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
 

}
.reviews{

    background: color #ffa115;
     text-align: center;
     
     
    
}
.reviews h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 10px 0;
}
.reviews p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}.reviews h2{
    font-size: 22px;
    color: #000000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}
/* Update-section-css*/
.up-center-text h2{
    text-align: center;
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;

}
.new_updates img{
    width: 380px;
    height: auto;
}
.Update-videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    gap: 1rem;
}
.new_updates h5{
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.new_updates h4{
    color: #111;
    font-size: 18px;
    font-weight: 600;
}
.new_updates p{
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}
.new_updates h6{
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}
/*contact-section*/
.first-info img{
    width: 100px;
    height: auto;
    margin: 10px 0;
}
.About{
    background-color: rgb(82, 81, 80);
    padding-top: 80px;
    height: 50px;

}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
    padding-bottom: 20px;
    
}
.contact-info p:hover{
    color: #EE1C47;
}
.social-icon i{
    color: #000000;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;

}
.social-icon i:hover{
    transform: scale(1.3);
}
.end-text{
    background-color: rgb(82, 81, 80);
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: #111;
    text-transform: capitalize;
}
/*procucts-style-section*/
/*Product details css*/

/* copied from original*/
.tree:img {
	height: 100px;
	width: 70px;
}
.intro{
	align-items: center;
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;

	color: #2c2c2c;
    border: 1px solid beige;
    font-size: 66px;
    text-transform: capitalize;
    
    font-weight: 400;
    transition: all .42s ease;
	margin-left: 270px;
	margin-right: 270px;
	
}
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: .5s;
}

.tree li {
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 10px;
	transition: .5s;
	
	

}
.w:hover{

	background-color: #FAF9D8;
    color: #fff;
    transition: all .42s ease;
    border: 1px;
	transform: scale(1.1);
}

.tree li:before,
.tree li:after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 51%;
	height: 10px;


}

.tree li:after {
	right: auto;
	left: 50%;
	border-left: 5px solid #ccc;
}

.tree li:only-child:after,
.tree li:only-child:before {
	display: none;
}

.tree li:only-child {
	padding-top: 0;
}

.q{
	background-color:#E0BC81;
	margin-left: 5%;
	margin-right:5%;
	padding-top: 50px;
	
  }
	


.tree li:first-child:before,
.tree li:last-child:after {
	border: 0 none;
}
.tree li:last-child:before
{
border-right: 1px solid #ccc;
border-radius: 0px 5px 0px 8px;
}
.tree li:first-child:after
{
	border-radius: 5px 8px 0px 0px;
}
.tree ul ul:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;

}
.tree a{
	border:1px solid #000000;
	padding: 10px;
	display: inline-grid;
	border-radius: 5px;
	text-decoration-line: none;
	border-radius: 5px;
	transition: .5s;
}
.tree a img{
	width: 150px;
	height: 150px;
	margin-bottom: 10px !important;
	margin-top: 10px !important;
	border-radius: 10px;
	margin:auto;

}
.tree a span{
	border: 1px solid #0e0f0a;
	border-radius: 5px;
	color: #666;
	padding: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}
.tree a span:hover{
	transition: all .42s ease;
    border: 1px;
	transform: scale(1.1);
}
.tree li li:hover{
	background-color: #FAF9D8;
    color: #fff;
    transition: all .42s ease;
    border: 1px;
	transform: scale(1.1);

}
.moreinfo{
	background-color: #ccc;
	margin-top: 50px;
	border-left: 2px solid rgb(71, 70, 70);
	border-right: 2px solid rgb(71, 70, 70);
	margin-left: 20px;
	margin-right: 20px;
	border-radius: -5%;

}
.moreinfo:hover{
	transform: scale(1.00005);
	border: 1px solid rgb(71, 70, 70);
	transition: all .42s ease;
}
